/*დავგუგლე ))*/
@font-face {
    font-family: Ninomtavruli;
    src: url(Ninomtavruli.ttf);
}
body {
	font-family: Ninomtavruli;
}
a:link {
    text-decoration: none;
    color: #4286f4;
}

a:visited {
    text-decoration: none;
    color: #4286f4;
}

a:hover {
    text-decoration: none;
    color:#4286f4;
}

a:active {
    text-decoration: none;
    color: #4286f4;
}
/*დავგუგლე ))*/
.logo {
	width: 150px;
	height: 75px;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 25px;
	float: left;
}
.nav {
	display: inline-block;
	list-style-type: none;
	padding-left: 120px;
	padding-top: 35px;
	font-size: 25px;
	color: #4286f4;

}
 li {
	display: inline;
	padding-left: 30px;
}
.news {
	color: #e22828;
}